# .ebextensions/98newrelic.config
packages:
    yum:
        newrelic-sysmond: []
    rpm:
        newrelic: "https://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm"

    container_commands:
        01license_key:
            command: "aws s3 cp s3://tsukaby-secret/newrelic-license-key.txt /tmp/ && NEWRELIC_LICENSE_KEY=`cat /tmp/newrelic-license-key.txt` && nrsysmond-config --set license_key=${NEWRELIC_LICENSE_KEY}"
        02setup_hostname:
            command: "echo hostname=tsukaby-apps-docker >> /etc/newrelic/nrsysmond.cfg"
        03start:
            command: "/etc/init.d/newrelic-sysmond start"
