files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/101_dd_agent_install_hook.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Must set up DD_API_KEY variable.
      aws s3 cp s3://tsukaby-secret/datadog-api-key.txt ./
      DD_API_KEY=`cat ./datadog-api-key.txt`

      docker run -d --privileged --name dd-agent -h `hostname` -v /var/run/docker.sock:/var/run/docker.sock -v /proc/mounts:/host/proc/mounts:ro -v /cgroup/:/host/sys/fs/cgroup:ro -e API_KEY=${DD_API_KEY} datadog/docker-dd-agent || docker start dd-agent
